.body {
    min-height: 100vh;
}
.headWrap {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    align-items: center;
    z-index: 100;
}
.logoWrap {
    background-color: transparent;
    position: relative;
    flex: 1;
    height: 45px;
}
.logoWrap:hover {
    cursor: pointer;
}

.navMenu {
    flex: 2;
    overflow-x: auto;
}

.profileWrap {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}

.mainWrap {
    padding: 0 50px 10px 50px;
    display: flex;
    flex-direction: column;
}

.navi {
    margin: 1rem 0;
}

.container {
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 0px 20px 5px rgb(0 0 0 / 16%);
}

.container :global(.ant-layout-sider-trigger) {
    position: initial;
}

.container .side {
    border-radius: 10px;
}

.content {
    padding: 1rem;
    overflow: auto;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
