@value mediaMobileQuery,mediaTabletQuery from '@/styles/size.css';

.wrap {
    display: flex;
    gap: 1rem;
}

.wrap > section {
    flex: 1;
    overflow: hidden;
}

@media (max-width: mediaMobileQuery) {
    .wrap {
        flex-direction: column;
    }
}
